body {
    background-color: #121212; 
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: #1e1e1e;
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.profile-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

h1 {
    color: #ffffff; 
    margin: 10px 0;
}

.location {
    color: #59b03e;
    margin: 5px 0;
}

.description {
    color: #b0b0b0; 
    font-style: italic;
    margin: 10px 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.button {
    background-color: #3a3a3a; 
    color: #ffffff; 
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #575757;}