body {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 900px;
}

.rotate {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: rotate360;
    animation-duration: 1.5s;

}

@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}